<template>
  <div class="Test">
    <h1>Test</h1>
    <p><pre>{{ parseData }}</pre></p>
  </div>
</template>

<script>
export default {
  name: "Test",
  data() {
    return {
      parseData: [],
      items: {
        periods: [
          {
            summary: {
              acos: 9999.99,
              ad_clicks: 42,
              ad_impressions: 14115,
              ad_orders: 0,
              ad_sales: 0,
              ad_spend: 26.200000000000003,
              average_cpc: 0.6238095238095239,
              conversion_rate: 0,
              percent_total_sales: 0,
              sales: 179.91000000000003,
              shipped_cogs: 72.17999999999999,
              units_sold: 9,
              orders: 9,
              asp: 19.990000000000002,
              sku: "N/A",
              item_number: "N/A",
              asin: "N/A",
              meta: {
                brand_lvl: { clicks: 0, impressions: 0, sales: 0, spend: 0 },
              },
              units_per_order: 1,
            },
            itemized: {
              B07H4XYH8C: {
                acos: 9999.99,
                average_cpc: 0.6238095238095239,
                ad_clicks: 42,
                ad_impressions: 14115,
                ad_orders: 0,
                ad_sales: 0,
                ad_spend: 26.200000000000003,
                conversion_rate: 0,
                sales: 179.91000000000003,
                units_sold: 9,
                orders: 9,
                units_per_order: 1,
                asp: 19.990000000000002,
                shipped_cogs: 72.17999999999999,
                percent_total_sales: 0,
                wholesale_cost: 0,
                asin: "B07H4XYH8C",
                sku: "Bambusa-Knives",
                item_number: "Bambusa-Knives",
                short_product_title: "Carving Knives",
                meta: {
                  sales_map: {},
                  ads_arr: [
                    {
                      id: 99856,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 624,
                      clicks: 2,
                      spend: "1.0500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-07T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 99936,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 665,
                      clicks: 2,
                      spend: "1.5800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-07T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 100092,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 282,
                      clicks: 1,
                      spend: "0.7700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-06T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 100171,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 192,
                      clicks: 2,
                      spend: "1.0600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-06T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 100327,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 415,
                      clicks: 1,
                      spend: "0.7500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-05T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 100405,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 743,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-05T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 100565,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 415,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-04T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 100648,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 249,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-04T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 100815,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 536,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-03T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 100899,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 275,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-03T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 101068,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 764,
                      clicks: 1,
                      spend: "0.3700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-02T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 101149,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 264,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-02T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 101317,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 467,
                      clicks: 1,
                      spend: "0.6900000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-01T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 101398,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 202,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-01T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 111726,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 549,
                      clicks: 2,
                      spend: "1.2800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-11T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 111793,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 213,
                      clicks: 1,
                      spend: "0.9700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-11T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 111945,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 453,
                      clicks: 5,
                      spend: "3.2900000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-10T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 112021,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 196,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-10T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 112181,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 628,
                      clicks: 4,
                      spend: "1.1800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-09T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 112258,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 473,
                      clicks: 4,
                      spend: "3.5500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-09T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 112420,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 643,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-08T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 112496,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 291,
                      clicks: 1,
                      spend: "0.7500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-08T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 148102,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 50,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-20T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 148235,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 29,
                      clicks: 1,
                      spend: "1.3800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-20T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 148501,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 270,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-19T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 148658,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 258,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-19T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 148959,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 208,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-18T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 149121,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 68,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-18T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 149427,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 219,
                      clicks: 1,
                      spend: "0.2500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-17T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 149599,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 107,
                      clicks: 1,
                      spend: "0.8500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-17T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 149907,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 295,
                      clicks: 1,
                      spend: "0.2400000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-16T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 150085,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 218,
                      clicks: 1,
                      spend: "1.6900000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-16T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 150398,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 371,
                      clicks: 2,
                      spend: "0.4500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-15T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 150567,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 103,
                      clicks: 1,
                      spend: "0.7500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-15T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 150868,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 502,
                      clicks: 2,
                      spend: "1.1200000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-14T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 151043,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 301,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-14T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 151355,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 517,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-13T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 151534,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 113,
                      clicks: 1,
                      spend: "0.7600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-13T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 151836,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 632,
                      clicks: 4,
                      spend: "1.4200000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-12T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 152002,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 315,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-09-12T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                  ],
                  ads_origin: { ads: 40, display: 0 },
                  included_asins: {},
                  asin_wholesale: {},
                  asin_units: {},
                  awu: { B07H4XYH8C: { wholesale_cost: 8.02, units_sold: 9 } },
                },
              },
            },
            period: {
              start: "2021-09-01T00:00:00Z",
              end: "2021-09-30T23:59:59Z",
            },
          },
          {
            summary: {
              acos: 101.66750041687509,
              ad_clicks: 139,
              ad_impressions: 43007,
              ad_orders: 6,
              ad_sales: 119.94,
              ad_spend: 121.93999999999997,
              average_cpc: 0.8772661870503595,
              conversion_rate: 4.316546762589928,
              percent_total_sales: 10.526315789473681,
              sales: 1139.4300000000003,
              shipped_cogs: 457.14,
              units_sold: 57,
              orders: 57,
              asp: 19.990000000000006,
              sku: "N/A",
              item_number: "N/A",
              asin: "N/A",
              meta: {
                brand_lvl: { clicks: 0, impressions: 0, sales: 0, spend: 0 },
              },
              units_per_order: 1,
            },
            itemized: {
              B07H4XYH8C: {
                acos: 101.66750041687509,
                average_cpc: 0.8772661870503595,
                ad_clicks: 139,
                ad_impressions: 43007,
                ad_orders: 6,
                ad_sales: 119.94,
                ad_spend: 121.93999999999997,
                conversion_rate: 4.316546762589928,
                sales: 1139.4300000000003,
                units_sold: 57,
                orders: 57,
                units_per_order: 1,
                asp: 19.990000000000006,
                shipped_cogs: 457.14,
                percent_total_sales: 10.526315789473681,
                wholesale_cost: 0,
                asin: "B07H4XYH8C",
                sku: "Bambusa-Knives",
                item_number: "Bambusa-Knives",
                short_product_title: "Carving Knives",
                meta: {
                  sales_map: {},
                  ads_arr: [
                    {
                      id: 24358,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 101,
                      clicks: 2,
                      spend: "0.5000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-05T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 24439,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 401,
                      clicks: 2,
                      spend: "1.6900000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-05T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 24612,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 300,
                      clicks: 1,
                      spend: "0.9100000000000000",
                      orders: 1,
                      sales: "19.9900000000000000",
                      date: "2021-08-04T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 24692,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 411,
                      clicks: 1,
                      spend: "1.0700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-04T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 24866,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 361,
                      clicks: 1,
                      spend: "0.6900000000000000",
                      orders: 1,
                      sales: "19.9900000000000000",
                      date: "2021-08-03T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 24944,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1399,
                      clicks: 8,
                      spend: "7.5300000000000000",
                      orders: 1,
                      sales: "19.9900000000000000",
                      date: "2021-08-03T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 25119,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 498,
                      clicks: 5,
                      spend: "1.8300000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-02T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 25194,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 578,
                      clicks: 4,
                      spend: "3.2400000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-02T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 25359,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 400,
                      clicks: 1,
                      spend: "0.8200000000000000",
                      orders: 1,
                      sales: "19.9900000000000000",
                      date: "2021-08-01T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 25430,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 396,
                      clicks: 1,
                      spend: "1.1500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-01T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 29259,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 49,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-06T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 29343,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 147,
                      clicks: 1,
                      spend: "1.3100000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-06T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 29626,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 53,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-07T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 29699,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 99,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-07T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 31006,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 82,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-08T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 31083,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 369,
                      clicks: 4,
                      spend: "4.2800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-08T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 37014,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 464,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-13T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 37104,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 460,
                      clicks: 2,
                      spend: "1.7600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-13T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 37291,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 279,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-12T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 37378,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 241,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-12T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 37566,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 223,
                      clicks: 1,
                      spend: "0.0500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-11T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 37651,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 114,
                      clicks: 1,
                      spend: "0.1700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-11T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 37838,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 136,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-10T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 37925,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 305,
                      clicks: 1,
                      spend: "0.4700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-10T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 38109,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 98,
                      clicks: 1,
                      spend: "0.1000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-09T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 38191,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 536,
                      clicks: 6,
                      spend: "6.4800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-09T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 101567,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 906,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-31T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 101647,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 155,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-31T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 101815,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1685,
                      clicks: 3,
                      spend: "3.3900000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-30T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 101896,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 278,
                      clicks: 1,
                      spend: "0.3600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-30T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 102056,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1618,
                      clicks: 3,
                      spend: "2.3300000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-29T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 102134,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 193,
                      clicks: 1,
                      spend: "1.3400000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-29T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 102289,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1408,
                      clicks: 6,
                      spend: "5.9400000000000000",
                      orders: 2,
                      sales: "39.9800000000000000",
                      date: "2021-08-28T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 102364,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 267,
                      clicks: 2,
                      spend: "1.9600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-28T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 102525,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1541,
                      clicks: 3,
                      spend: "3.1600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-27T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 102604,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 106,
                      clicks: 1,
                      spend: "1.4600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-27T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 102772,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1982,
                      clicks: 7,
                      spend: "7.2600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-26T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 102851,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 183,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-26T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 103020,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 2067,
                      clicks: 5,
                      spend: "4.1600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-25T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 103102,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 127,
                      clicks: 1,
                      spend: "1.1800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-25T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 103275,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1132,
                      clicks: 1,
                      spend: "1.1300000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-24T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 103358,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 204,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-24T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 103528,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1164,
                      clicks: 3,
                      spend: "3.1900000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-23T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 103609,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 118,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-23T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 103771,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1054,
                      clicks: 1,
                      spend: "1.1100000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-22T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 103848,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 193,
                      clicks: 2,
                      spend: "1.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-22T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 104007,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 789,
                      clicks: 3,
                      spend: "3.2100000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-21T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 104083,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 476,
                      clicks: 3,
                      spend: "4.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-21T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 104253,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1031,
                      clicks: 3,
                      spend: "3.2500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-20T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 104335,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 198,
                      clicks: 2,
                      spend: "1.5600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-20T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 104512,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 2790,
                      clicks: 5,
                      spend: "4.8800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-18T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 104595,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 380,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-18T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 104772,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 2493,
                      clicks: 8,
                      spend: "5.0700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-17T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 104856,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 164,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-17T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 105038,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 2871,
                      clicks: 9,
                      spend: "6.7700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-16T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 105124,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 368,
                      clicks: 2,
                      spend: "2.1600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-16T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 105303,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1883,
                      clicks: 7,
                      spend: "5.2300000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-15T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 105388,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 316,
                      clicks: 2,
                      spend: "2.3600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-15T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 105562,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1431,
                      clicks: 3,
                      spend: "2.9400000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-14T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 105643,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 622,
                      clicks: 5,
                      spend: "4.4500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-14T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 112672,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 2016,
                      clicks: 3,
                      spend: "2.0800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-19T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 112759,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 298,
                      clicks: 1,
                      spend: "0.9600000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-08-19T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                  ],
                  ads_origin: { ads: 62, display: 0 },
                  included_asins: {},
                  asin_wholesale: {},
                  asin_units: {},
                  awu: { B07H4XYH8C: { wholesale_cost: 8.02, units_sold: 57 } },
                },
              },
            },
            period: {
              start: "2021-08-01T00:00:00Z",
              end: "2021-08-31T23:59:59Z",
            },
          },
          {
            summary: {
              acos: 48.874437218609316,
              ad_clicks: 14,
              ad_impressions: 4661,
              ad_orders: 1,
              ad_sales: 19.99,
              ad_spend: 9.770000000000001,
              average_cpc: 0.697857142857143,
              conversion_rate: 7.142857142857142,
              percent_total_sales: 8.333333333333332,
              sales: 239.88000000000002,
              shipped_cogs: 128.32,
              units_sold: 16,
              orders: 16,
              asp: 14.992500000000001,
              sku: "N/A",
              item_number: "N/A",
              asin: "N/A",
              meta: {
                brand_lvl: { clicks: 0, impressions: 0, sales: 0, spend: 0 },
              },
              units_per_order: 1,
            },
            itemized: {
              B07H4XYH8C: {
                acos: 48.874437218609316,
                average_cpc: 0.697857142857143,
                ad_clicks: 14,
                ad_impressions: 4661,
                ad_orders: 1,
                ad_sales: 19.99,
                ad_spend: 9.770000000000001,
                conversion_rate: 7.142857142857142,
                sales: 239.88000000000002,
                units_sold: 16,
                orders: 16,
                units_per_order: 1,
                asp: 14.992500000000001,
                shipped_cogs: 128.32,
                percent_total_sales: 8.333333333333332,
                wholesale_cost: 0,
                asin: "B07H4XYH8C",
                sku: "Bambusa-Knives",
                item_number: "Bambusa-Knives",
                short_product_title: "Carving Knives",
                meta: {
                  sales_map: {},
                  ads_arr: [
                    {
                      id: 25598,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 366,
                      clicks: 1,
                      spend: "0.2800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-31T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 25673,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 201,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-31T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 25848,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 290,
                      clicks: 1,
                      spend: "0.3700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-30T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 25925,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 415,
                      clicks: 1,
                      spend: "1.2200000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-30T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 26099,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 218,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-29T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 26175,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 331,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-29T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 26350,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 44,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-28T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 26432,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 163,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-28T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 26611,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 38,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-27T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 26694,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 105,
                      clicks: 1,
                      spend: "0.9500000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-27T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 26877,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 57,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-26T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 26963,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 1087,
                      clicks: 3,
                      spend: "2.3700000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-26T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 27142,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 57,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-25T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 27223,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 624,
                      clicks: 3,
                      spend: "1.9200000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-25T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 27398,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 39,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-24T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 27477,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 143,
                      clicks: 3,
                      spend: "1.7800000000000000",
                      orders: 1,
                      sales: "19.9900000000000000",
                      date: "2021-07-24T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 27658,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 50,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-23T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 27739,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 230,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-23T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 27923,
                      campaignId: "139552701760445",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 51,
                      clicks: 0,
                      spend: "0.0000000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-22T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                    {
                      id: 28008,
                      campaignId: "248708828202629",
                      brand: "Bambusa",
                      product_sku: "Bambusa-Knives",
                      product_asin: "B07H4XYH8C",
                      impressions: 152,
                      clicks: 1,
                      spend: "0.8800000000000000",
                      orders: 0,
                      sales: "0.0000000000000000",
                      date: "2021-07-22T07:00:00.000Z",
                      accountName: "nwm",
                      ad_type: "ad",
                    },
                  ],
                  ads_origin: { ads: 20, display: 0 },
                  included_asins: {},
                  asin_wholesale: {},
                  asin_units: {},
                  awu: { B07H4XYH8C: { wholesale_cost: 8.02, units_sold: 16 } },
                },
              },
            },
            period: {
              start: "2021-07-01T00:00:00Z",
              end: "2021-07-31T23:59:59Z",
            },
          },
        ],
        yoy: [],
        comparisons: {
          yoy: [],
          pop: [
            {
              itemized: {
                B07H4XYH8C: {
                  sales: {
                    number: -959.5200000000002,
                    percentage: -84.21052631578947,
                    cur: 179.91000000000003,
                    prev: 1139.4300000000003,
                  },
                  shipped_cogs: {
                    number: -384.96,
                    percentage: -84.21052631578947,
                    cur: 72.17999999999999,
                    prev: 457.14,
                  },
                  orders: {
                    number: -48,
                    percentage: -84.21052631578947,
                    cur: 9,
                    prev: 57,
                  },
                  units_sold: {
                    number: -48,
                    percentage: -84.21052631578947,
                    cur: 9,
                    prev: 57,
                  },
                  asp: {
                    number: -3.552713678800501e-15,
                    percentage: -1.7772454621313156e-14,
                    cur: 19.990000000000002,
                    prev: 19.990000000000006,
                  },
                  ad_impressions: {
                    number: -28892,
                    percentage: -67.17976143418514,
                    cur: 14115,
                    prev: 43007,
                  },
                  ad_clicks: {
                    number: -97,
                    percentage: -69.7841726618705,
                    cur: 42,
                    prev: 139,
                  },
                  ad_spend: {
                    number: -95.73999999999997,
                    percentage: -78.51402329014269,
                    cur: 26.200000000000003,
                    prev: 121.93999999999997,
                  },
                  ad_orders: { number: -6, percentage: 0, cur: 0, prev: 6 },
                  ad_sales: {
                    number: -119.94,
                    percentage: 0,
                    cur: 0,
                    prev: 119.94,
                  },
                  percent_total_sales: {
                    number: -10.526315789473681,
                    percentage: 0,
                    cur: 0,
                    prev: 10.526315789473681,
                  },
                  conversion_rate: {
                    number: -4.316546762589928,
                    percentage: 0,
                    cur: 0,
                    prev: 4.316546762589928,
                  },
                  acos: {
                    number: 9898.322499583124,
                    percentage: 9735.975074626867,
                    cur: 9999.99,
                    prev: 101.66750041687509,
                  },
                  average_cpc: {
                    number: -0.2534566632408356,
                    percentage: -28.89164850785317,
                    cur: 0.6238095238095239,
                    prev: 0.8772661870503595,
                  },
                  units_per_order: {
                    number: 0,
                    percentage: 0,
                    cur: 1,
                    prev: 1,
                  },
                },
              },
              summary: {
                sales: {
                  number: -959.5200000000002,
                  percentage: -84.21052631578947,
                  cur: 179.91000000000003,
                  prev: 1139.4300000000003,
                },
                shipped_cogs: {
                  number: -384.96,
                  percentage: -84.21052631578947,
                  cur: 72.17999999999999,
                  prev: 457.14,
                },
                orders: {
                  number: -48,
                  percentage: -84.21052631578947,
                  cur: 9,
                  prev: 57,
                },
                units_sold: {
                  number: -48,
                  percentage: -84.21052631578947,
                  cur: 9,
                  prev: 57,
                },
                asp: {
                  number: -3.552713678800501e-15,
                  percentage: -1.7772454621313156e-14,
                  cur: 19.990000000000002,
                  prev: 19.990000000000006,
                },
                ad_impressions: {
                  number: -28892,
                  percentage: -67.17976143418514,
                  cur: 14115,
                  prev: 43007,
                },
                ad_clicks: {
                  number: -97,
                  percentage: -69.7841726618705,
                  cur: 42,
                  prev: 139,
                },
                ad_spend: {
                  number: -95.73999999999997,
                  percentage: -78.51402329014269,
                  cur: 26.200000000000003,
                  prev: 121.93999999999997,
                },
                ad_orders: { number: -6, percentage: 0, cur: 0, prev: 6 },
                ad_sales: {
                  number: -119.94,
                  percentage: 0,
                  cur: 0,
                  prev: 119.94,
                },
                percent_total_sales: {
                  number: -10.526315789473681,
                  percentage: 0,
                  cur: 0,
                  prev: 10.526315789473681,
                },
                conversion_rate: {
                  number: -4.316546762589928,
                  percentage: 0,
                  cur: 0,
                  prev: 4.316546762589928,
                },
                acos: {
                  number: 9898.322499583124,
                  percentage: 9735.975074626867,
                  cur: 9999.99,
                  prev: 101.66750041687509,
                },
                average_cpc: {
                  number: -0.2534566632408356,
                  percentage: -28.89164850785317,
                  cur: 0.6238095238095239,
                  prev: 0.8772661870503595,
                },
                units_per_order: { number: 0, percentage: 0, cur: 1, prev: 1 },
              },
            },
            {
              itemized: {
                B07H4XYH8C: {
                  sales: {
                    number: 899.5500000000003,
                    percentage: 375.0000000000001,
                    cur: 1139.4300000000003,
                    prev: 239.88000000000002,
                  },
                  shipped_cogs: {
                    number: 328.82,
                    percentage: 256.25,
                    cur: 457.14,
                    prev: 128.32,
                  },
                  orders: { number: 41, percentage: 256.25, cur: 57, prev: 16 },
                  units_sold: {
                    number: 41,
                    percentage: 256.25,
                    cur: 57,
                    prev: 16,
                  },
                  asp: {
                    number: 4.997500000000004,
                    percentage: 33.33333333333336,
                    cur: 19.990000000000006,
                    prev: 14.992500000000001,
                  },
                  ad_impressions: {
                    number: 38346,
                    percentage: 822.6989916326968,
                    cur: 43007,
                    prev: 4661,
                  },
                  ad_clicks: {
                    number: 125,
                    percentage: 892.8571428571429,
                    cur: 139,
                    prev: 14,
                  },
                  ad_spend: {
                    number: 112.16999999999997,
                    percentage: 1148.106448311156,
                    cur: 121.93999999999997,
                    prev: 9.770000000000001,
                  },
                  ad_orders: { number: 5, percentage: 500, cur: 6, prev: 1 },
                  ad_sales: {
                    number: 99.95,
                    percentage: 500.0000000000001,
                    cur: 119.94,
                    prev: 19.99,
                  },
                  percent_total_sales: {
                    number: 2.1929824561403493,
                    percentage: 26.31578947368419,
                    cur: 10.526315789473681,
                    prev: 8.333333333333332,
                  },
                  conversion_rate: {
                    number: -2.8263103802672145,
                    percentage: -39.568345323741006,
                    cur: 4.316546762589928,
                    prev: 7.142857142857142,
                  },
                  acos: {
                    number: 52.79306319826577,
                    percentage: 108.01774138519269,
                    cur: 101.66750041687509,
                    prev: 48.874437218609316,
                  },
                  average_cpc: {
                    number: 0.17940904419321657,
                    percentage: 25.708563139253137,
                    cur: 0.8772661870503595,
                    prev: 0.697857142857143,
                  },
                  units_per_order: {
                    number: 0,
                    percentage: 0,
                    cur: 1,
                    prev: 1,
                  },
                },
              },
              summary: {
                sales: {
                  number: 899.5500000000003,
                  percentage: 375.0000000000001,
                  cur: 1139.4300000000003,
                  prev: 239.88000000000002,
                },
                shipped_cogs: {
                  number: 328.82,
                  percentage: 256.25,
                  cur: 457.14,
                  prev: 128.32,
                },
                orders: { number: 41, percentage: 256.25, cur: 57, prev: 16 },
                units_sold: {
                  number: 41,
                  percentage: 256.25,
                  cur: 57,
                  prev: 16,
                },
                asp: {
                  number: 4.997500000000004,
                  percentage: 33.33333333333336,
                  cur: 19.990000000000006,
                  prev: 14.992500000000001,
                },
                ad_impressions: {
                  number: 38346,
                  percentage: 822.6989916326968,
                  cur: 43007,
                  prev: 4661,
                },
                ad_clicks: {
                  number: 125,
                  percentage: 892.8571428571429,
                  cur: 139,
                  prev: 14,
                },
                ad_spend: {
                  number: 112.16999999999997,
                  percentage: 1148.106448311156,
                  cur: 121.93999999999997,
                  prev: 9.770000000000001,
                },
                ad_orders: { number: 5, percentage: 500, cur: 6, prev: 1 },
                ad_sales: {
                  number: 99.95,
                  percentage: 500.0000000000001,
                  cur: 119.94,
                  prev: 19.99,
                },
                percent_total_sales: {
                  number: 2.1929824561403493,
                  percentage: 26.31578947368419,
                  cur: 10.526315789473681,
                  prev: 8.333333333333332,
                },
                conversion_rate: {
                  number: -2.8263103802672145,
                  percentage: -39.568345323741006,
                  cur: 4.316546762589928,
                  prev: 7.142857142857142,
                },
                acos: {
                  number: 52.79306319826577,
                  percentage: 108.01774138519269,
                  cur: 101.66750041687509,
                  prev: 48.874437218609316,
                },
                average_cpc: {
                  number: 0.17940904419321657,
                  percentage: 25.708563139253137,
                  cur: 0.8772661870503595,
                  prev: 0.697857142857143,
                },
                units_per_order: { number: 0, percentage: 0, cur: 1, prev: 1 },
              },
            },
          ],
          totals: {
            sales: {
              number: 1319.3400000000004,
              percentage: 9999.99,
              cur: 1319.3400000000004,
              prev: 0,
            },
            shipped_cogs: {
              number: 529.3199999999999,
              percentage: 9999.99,
              cur: 529.3199999999999,
              prev: 0,
            },
            orders: { number: 66, percentage: 9999.99, cur: 66, prev: 0 },
            units_sold: { number: 66, percentage: 9999.99, cur: 66, prev: 0 },
            asp: {
              number: 19.990000000000006,
              percentage: 9999.99,
              cur: 19.990000000000006,
              prev: 0,
            },
            ad_impressions: {
              number: 57122,
              percentage: 634688.8888888889,
              cur: 57131,
              prev: 9,
            },
            ad_clicks: { number: 181, percentage: 9999.99, cur: 181, prev: 0 },
            ad_spend: {
              number: 148.14,
              percentage: 9999.99,
              cur: 148.14,
              prev: 0,
            },
            ad_orders: { number: 6, percentage: 9999.99, cur: 6, prev: 0 },
            ad_sales: {
              number: 119.94,
              percentage: 9999.99,
              cur: 119.94,
              prev: 0,
            },
            percent_total_sales: {
              number: 9.090909090909088,
              percentage: 9999.99,
              cur: 9.090909090909088,
              prev: 0,
            },
            conversion_rate: {
              number: 3.314917127071823,
              percentage: 9999.99,
              cur: 3.314917127071823,
              prev: 0,
            },
            acos: {
              number: 123.51175587793897,
              percentage: 9999.99,
              cur: 123.51175587793897,
              prev: 0,
            },
            average_cpc: {
              number: 0.8184530386740331,
              percentage: 9999.99,
              cur: 0.8184530386740331,
              prev: 0,
            },
            units_per_order: {
              number: 1,
              percentage: 9999.99,
              cur: 1,
              prev: 0,
            },
          },
        },
        totals: {
          periods: {
            sales: 1319.3400000000004,
            shipped_cogs: 529.3199999999999,
            orders: 66,
            units_sold: 66,
            ad_impressions: 57131,
            ad_clicks: 181,
            ad_orders: 6,
            ad_spend: 148.14,
            ad_sales: 119.94,
            conversion_rate: 3.314917127071823,
            acos: 123.51175587793897,
            units_per_order: 1,
            asp: 19.990000000000006,
            average_cpc: 0.8184530386740331,
            percent_total_sales: 9.090909090909088,
          },
          yoy: {
            sales: 0,
            shipped_cogs: 0,
            orders: 0,
            units_sold: 0,
            ad_impressions: 9,
            ad_clicks: 0,
            ad_orders: 0,
            ad_spend: 0,
            ad_sales: 0,
            conversion_rate: 0,
            acos: 0,
            units_per_order: 0,
            asp: 0,
            average_cpc: 0,
            percent_total_sales: 0,
          },
        },
      },
    };
  },
  props: {
    msg: String,
  },
  mounted: function() {
    var data = [];
    if (typeof this.items.periods !== 'undefined') {
    for (var i = 0; i < this.items.periods.length - 1; i++) {
      data.push(this.items.periods[i]);
    }
    this.parseData = data;
     console.log(this.parseData);
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
